<style>
/*#paral{
  text-align: left;
  color: green;
}
.foo{
  text-align: right;
  color: gray;
}*/
p{
  text-align: center;
  color: black;
}
</style>
<div>
  <p id="paral" class="foo" style="text-align: left; color: green;">Hello world!</p>
</div>
