<script>
//这是javascript注解
$(document).ready(function(){
  $("#my-click").click(function(){
    $("#foo").append('<h1>我是风儿</h1>')
  })
})
</script>
<p>
  <a id="my-click">Click Me</a>
</p>
<div id="foo" style="border: 1px solid red;">
  <p>bar</p>
</div>
